#navbar {
    background-color: #498085;
    border-radius:30px;
    height:90px;


}

#navbar nav {
    display:flex; 
    flex-direction:row; 
    justify-content: space-between;
    align-items:center;
    

}

#navbar nav ul {
    display:flex; 
    flex-direction:row; 
    list-style: none;
    margin-right:50px;



}

#navbar nav ul li {
    display:flex;
    padding:10px;
    

}

#navbar a {
    text-decoration: none;
    color: #68caf8;
    font-size:24px;
    font-family: arial;


}

#navbar a:hover {
    text-decoration: none;
    font-size: 25px;
    color: #8E8E8E;


}

#navbar a:active {
    text-decoration: none;
    font-size: 25px;
    color: black;


}

body {
    background-color: #293512;


}

h1 {
    text-align:center;
    color:#fff;
    font-size:50px;
    font-family:arial;


}

img {
    width:300px;
    height:300px;
    padding:0px;
    border-style: solid;
    border-color: #101705;
    border-width: 20px;


}

#plantimgs {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
    margin:50px;




}

#plantps {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    font-size: 30px;
    color: #fff;
    margin:50px;
    


}

#footerplant {
    background-color: #101705;
    


}

#footerplant footer{
    background-color: #101705;
    height:30px;
    width:100;


}

#footerplant ul {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    list-style:none;
   
}



#footerplant a {
    text-decoration:none;
    color:#293512;
    font-size:24px;
    


}

#footerplant a:hover {
    text-decoration:underline;
    color:#fff;
    


}

#footerplant a:active {
    text-decoration:underline;
    color:#8E8E8E;
    


}

    



.plantparagraph1 {
    color: #8E8E8E;
    text-align:center;
    font-family: arial;
    font-style:italic;
    font-size: 24px;


}


#contactform {
    border-style:solid;
    border-color:#498085;
    border-width: 40px;
    display:flex;
    flex-direction:row;
    background-color: #68caf8;
    padding:0px;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:50px;
    font-family:arial;
    font-size:22px;


}

#contactform label {
    padding:20px;



}


#contactname {
    display:flex;
    flex-direction:row;
    padding:20px;



}

#contactname {
    display:flex;
    flex-direction:row;
    padding:20px;



}



#contactinfo {
    display:flex;
    flex-direction:row;
    padding:20px;



}

#contactsubject{
    display:flex;
    flex-direction:column;
    padding:50px;



}

#contactsubject textarea {
    height:300px;
    margin-left:50px;



}


#button {
    border-color:#68caf8;
    background-color:#498085;
    border-style:solid;
    color:white;
    width:200px;
    height:125px;
    border-radius:15px;
    font-size: 24px;
    transition:0.5s;



}


#button:hover{
    border-color:#8E8E8E;
    background-color:#498085;
    border-style:solid;
    color:white;
    width:205px;
    height:130px;
    border-radius:20px;
    font-size: 26px;
    transition:0.7s;
    




}

#button:active{
    border-color:#8E8E8E;
    background-color:#fff;
    border-style:solid;
    color:#498085;
    width:205px;
    height:130px;
    border-radius:24px;
    font-size: 18px;
    transition:0.4s;




}

#buttoncontainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:10px;



}